/** Prototype 2 CSS */
/*---------------------------------
   Beta
----------------------------------*/
.beta:after {
    content: "beta";
    position: fixed;
    width: 100px;
    height: 20px;
    background: #EE8E4A;
    top: 10px;
    left: -30px;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    line-height: 20px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 1049;
}

@media (min-width: 768px) {
    .beta:after {
        content: "beta";
        position: fixed;
        width: 150px;
        height: 35px;
        background: #EE8E4A;
        top: 20px;
        left: -37px;
        text-align: center;
        font-size: 20px;
        font-family: sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        color: #fff;
        line-height: 35px;
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        z-index: 1049;
    }
}

/*---------------------------------
   Modal adaptation
----------------------------------*/

@media (max-width: 768px) {
    .modal-dialog {
        margin: 0 !important;
    }
}

/** Allow multiple opened modals (requires additional JS : $('body').addClass('modal-open') when closing second modal) */
.modal.modal-stack-second {
    z-index: 1052 !important;
}

.modal-backdrop.in.backdrop-second {
    z-index: 1051 !important;
}

/*---------------------------------
   Connexion
----------------------------------*/
.btn-facebook {
    background-color: #3b5998;
}

.link-facebook {
    color: #3b5998;
}

.btn-twitter {
    background-color: #1da1f2;
}

.link-twitter {
    color: #1da1f2;
}

.btn-instagram {
    background-color: #333333;
}

.link-instagram {
    color: #333333;
}

/*---------------------------------
    TOASTR
----------------------------------*/
#toast-container {
    top: 12px;
}

/*---------------------------------
    Global Preloader
    Affiche un preloader dans un coin de la page le temps d'une requête Ajax par exemple
----------------------------------*/
.at-global-preloader {
    position: fixed;
    z-index: 10000;
    top: 10px;
    left: 50%;
    width: 40px;
    margin-left: -20px;
    background-color: rgba(240, 240, 240, 0.5);
    border-radius: 50%;
}

.at-global-preloader .plc-path {
    stroke-width: 4;
}

.center-content {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.border-bottom {
    border-bottom: 1px solid lightgrey;
}

/*---------------------------------
    Surcouche sur une DIV pour en désactiver le contenu
----------------------------------*/
.disabling-cover {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: #000000;
    opacity: 0.5;
    display: block;
    pointer-events: none;
}

/*---------------------------------
    Avertisseur Ajax requis sur le site
----------------------------------*/
.at-alert-no-js {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}

.at-alert-no-js:hover {
    opacity: 0.25;
}

/*-----------------------------------
    Fix Card style
-----------------------------------*/

.card.c-dark .card-header > .media > .media-body > h2 {
    color: #fff;
}

.card.c-dark .card-header > .media > .media-body > h2 small {
    color: rgba(255, 255, 255, 0.7);
}

.card-body + .card-body {
    padding-top: 0 !important;
}

.card-body + .card-footer {
    padding-top: 0 !important;
}

.card-footer.card-padding {
    padding: 30px 33px;
}

.card-footer.card-padding-sm {
    padding: 15px;
}

@media (max-width: 767px) {
    .card-header {
        padding: 15px 15px;
    }

    .card-header .actions {
        top: 10px;
    }
}

@media (max-width: 767px) {
    .modal .modal-body {
        padding: 0 15px 10px;
    }

    .table.table-condensed > thead > tr > th:first-child,
    .table.table-condensed > tbody > tr > th:first-child,
    .table.table-condensed > tfoot > tr > th:first-child,
    .table.table-condensed > thead > tr > td:first-child,
    .table.table-condensed > tbody > tr > td:first-child,
    .table.table-condensed > tfoot > tr > td:first-child {
        padding-left: 10px;
    }

    .table.table-condensed > thead > tr > th:last-child,
    .table.table-condensed > tbody > tr > th:last-child,
    .table.table-condensed > tfoot > tr > th:last-child,
    .table.table-condensed > thead > tr > td:last-child,
    .table.table-condensed > tbody > tr > td:last-child,
    .table.table-condensed > tfoot > tr > td:last-child {
        padding-right: 10px;
    }
}

/*-----------------------------------
    FIX checkbox-inline, radio-inline
-----------------------------------*/
/* Les classes ne sont pas utilisées dans le bon ordre sinon (pourquoi?) */
.checkbox-inline,
.radio-inline {
    vertical-align: top;
    margin-top: 0 !important;
    padding-left: 25px;
}

/*-----------------------------------
    FIX Google Place autocomplete result are under modal
-----------------------------------*/
.pac-container {
    z-index: 1050;
}

/*-----------------------------------
    FIX anchor offset
-----------------------------------*/
.anchor-offset {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

/*-----------------------------------
    SET Smartsupp under modal
-----------------------------------*/
#chat-application {
    z-index: 1049 !important;
}

/*-----------------------------------
    List
-----------------------------------*/
.list-md-icon ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-md-icon ul li {
    position: relative;
    padding: 0 0 8px 35px;
}

.list-md-icon ul li i {
    font-size: 18px;
    vertical-align: top;
    line-height: 100%;
    position: absolute;
    left: 0;
    width: 18px;
    text-align: center;
}

.popover-link-ellipsis {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 207px;
}

/*-----------------------------------
    Generic width
-----------------------------------*/

.w-90px {
    width: 90px !important;
}

.w-100px {
    width: 100px !important;
}

.w-120px {
    width: 120px !important;
}

.w-150px {
    width: 150px !important;
}

/*-----------------------------------
    Generic text class
-----------------------------------*/
.text-normal-wrap {
    white-space: normal;
}

/*-----------------------------------
    Generic align
-----------------------------------*/
.va-top {
    vertical-align: top;
}

.va-bottom {
    vertical-align: bottom;
}

.va-middle {
    vertical-align: middle;
}

/*-----------------------------------
    Generic filter
-----------------------------------*/
.grayscale-1{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/*-----------------------------------
    Avatar (Adapt Material Design Extebded Admin
------------------------------------*/
.avatar-img,
.avatar-char,
.yzi-avatar-img {
    height: 100%;
    width: 100%;
    border-radius: 10%;
}

.avatar-img {
    object-fit: cover;
    -o-object-fit: cover;
}

.about-us-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid white;
}

/*-----------------------------------
    Affichage d'avatar utilisateur
-----------------------------------*/
.avatar-container-list {
    float: left;
}

.avatar-container-list-xs {
    float: left;
    height: 20px;
    width: 100%;
    display: inline-block;
    overflow: hidden;
}

.avatar-container-list .avatar-img-container,
.avatar-container-list .avatar-img-container-xs,
.avatar-container-list .avatar-img-container-sm,
.avatar-container-list .avatar-img-container-md {
    float: left;
}

.avatar-img-container,
.avatar-img-container-xs,
.avatar-img-container-sm,
.avatar-img-container-md {
    position: relative;
    text-align: center;
    width: 50px;
    height: 50px;
}

.avatar-img-container-xs {
    width: 20px;
    height: 20px;
}

.avatar-img-container-sm {
    width: 35px;
    height: 35px;
}

.avatar-img-container-md {
    width: 100px;
    height: 100px;
}

.avatar-img-container img,
.avatar-img-container-xs img,
.avatar-img-container-sm img,
.avatar-img-container-md img {
    object-fit: cover;
    -o-object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
}

.avatar-img-container-xs img {
    position: relative;
    width: 20px;
    height: 20px;
}

.avatar-img-container-sm img {
    position: relative;
    width: 35px;
    height: 35px;
}

.avatar-img-container img {
    position: relative;
    width: 50px;
    height: 50px;
}

/*----------------------------------
    Switch icone + / - on collapse
-----------------------------------*/
a:not(.collapsed)[data-toggle=collapse] [class*=zmdi-plus],
a.collapsed[data-toggle=collapse] [class*=zmdi-minus] {
    display: none;
}

/*----------------------------------
    Event Notifications
-----------------------------------*/
#notificationsSidePanel > li#notification-none:not(:first-child) {
    display: none;
}

.notif_new_comment {
    background-color: #E0F2F1 !important;
}

/*----------------------------------
    Event Picture
-----------------------------------*/

#event-header-card-header {
    height: 250px;
}

#header-picture-focuspoint {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 250px;
}

.mini-picture {
    width: 100%;
    height: 150px;
}

.mini-picture-focuspoint {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 150px;
}

#event_picture_update_modal .kv-avatar .file-preview-frame,
#event_picture_update_modal .kv-avatar .file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}

#event_picture_update_modal .kv-avatar .file-input {
    display: block;
    width: 100%;
    margin: 0 auto;
}

img.focuspoint-selector {
    cursor: pointer;
    opacity: 0.01;
}

/* !HELPER TOOL TARGETING SYSTEM */
.helper-tool-target {
    position: relative;
    width: 300px;
    overflow: hidden;
    margin-bottom: 1em;
}

.helper-tool-target img {
    display: block;
    max-width: 100%;
    height: auto;
}

.helper-tool-target img.target-overlay,
.helper-tool-target img.reticle {
    position: absolute;
    top: 0;
    left: 0;
}

.helper-tool-target img.target-overlay {
    cursor: pointer;
    opacity: 0.01;
}

.helper-tool-target img.reticle {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
}

.event-change-picture {
    top: 30px;
}

.event-title {
    position: absolute;
    left: 30px;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

h1.event-title {
    bottom: 0;
}

/*----------------------------------
    Event Invitation Answer
-----------------------------------*/

.answer-form [class*=btn-answer] {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 40px;
    font-weight: 900;
    margin: 10px;
}

.answer-form .btn-answer-false,
.answer-form .btn-answer-false:hover {
    color: #ff5722;
}

.answer-form .btn-answer-false.active,
.answer-form .btn-answer-false:active {
    background-color: #ff5722;
    color: white;
    font-weight: bold;
}

.answer-form .btn-answer-maybe,
.answer-form .btn-answer-maybe:hover {
    color: #ffc107;
    font-weight: normal;
}

.answer-form .btn-answer-maybe.active,
.answer-form .btn-answer-maybe:active {
    background-color: #ffc107;
    color: white;
    font-weight: normal;
}

.answer-form .btn-answer-true,
.answer-form .btn-answer-true:hover {
    color: #4caf50;
}

.answer-form .btn-answer-true.active,
.answer-form .btn-answer-true:active {
    background-color: #4caf50;
    color: white;
    font-weight: bold;
}

.answer-thumb-ranking,
.answer-thumb {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    padding: 6px 10px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 2px;
}

.answer-thumb-ranking {
    white-space: normal;
    padding: 2px 3px;
    min-height: 30px;
}

/*----------------------------------
    Event Invitations
-----------------------------------*/
.list-group.lg-padding-xs .list-group-item {
    border: 0;
    margin: 0;
    padding: 0 5px;
}

.userInvitation-avatar {
    position: relative;
}

/*----------------------------------
    Add Module
-----------------------------------*/

.add-module-menu {
    position: fixed;
    right: 10px;
    bottom: 100px;
    z-index: 10;
}

.add-module-menu > button.m-btn {
    right: 10px;
}

.add-module-menu .dropdown-menu {
    background-color: transparent;
    box-shadow: none;
}

.add-module-menu .dropdown-menu > li {
    margin-bottom: 5px;
    text-align: right;
    height: 50px;
}

.add-module-menu .dropdown-menu > li > a {
    display: inline-block;
    text-align: right;
    padding: 0;
}

.add-module-menu .dropdown-menu > li > a > small,
.add-module-menu .dropdown-menu > li > a > i {
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.add-module-menu .dropdown-menu > li > a > i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: 22px;
    color: #fff;
}

.add-module-menu .dropdown-menu > li > a > small {
    color: #ABABAB;
    height: 50px;
    margin-right: 10px;
    line-height: 50px;
    font-weight: 900;
}

.add-module-menu .dropdown-menu > li > a:hover {
    background: transparent;
}

.add-module-menu .dropdown-menu > li > a:hover > small {
    color: #333;
}

.add-module-menu .dropdown-menu > li > a:hover > i {
    -webkit-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
}

/*---------------------------------
    Borders : b-Position-Color
---------------------------------*/

.b-b-primary {
    border-bottom: #2196f3 solid 2px;
}

.b-b-w {
    border-bottom: #eee solid 2px;
}

/** Borders **/

/*---------------------------------
    Formulaires
---------------------------------*/
.fg-float .form-control,
.form-control {
    background-color: rgba(245, 245, 245, 0.3);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

/* Pas de couleur de fond ni de bordure sur l'icone en cas d'erreur */
.has-error .input-group-addon {
    color: #f6675d;
    border-color: transparent;
    background-color: transparent;
}

.clockpicker-popover {
    z-index: 1100;
}

label.required:after {
    content: " *";
}

label.control-label {
    margin-right: 5px;
}

.ismobile .readonly-onmobile {
    background-color: white !important;
}

.note-editor .note-editable {
    background-color: rgba(245, 245, 245, 0.3);
}

.note-editor .note-placeholder,
.note-editor .note-editable {
    padding: 5px;
}

/** end Formulaires **/

/*---------------------------------
    PollModule
---------------------------------*/

.poll-response tbody,
.poll-container tbody {
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    border-radius: 2px;
}

.poll-container table td {
    padding: 3px !important;
}

.poll-container table td.response-column {
    min-width: 50px;
    max-width: 120px;
    width: 60px;
    text-align: center;
}

.poll-container table td.voting-column {
    min-width: 40px;
    max-width: 100px;
    width: 40px;
    text-align: center;
}

.poll-response table td.pollproposal-column {
    min-width: 200px;
    max-width: 400px;
    width: 300px;
    text-align: left;
    white-space: normal !important;
    padding-left: 10px !important;
}

.poll-response table td.response-column {
    width: 40px !important;
    padding-top: auto;
    padding-left: 0;
    padding-right: 0 !important;
    text-align: center;
}

.poll-container table .tr-no-proposal:not(:first-child) {
    display: none;
}

.tr-no-proposal {
    text-align: center;
    font-style: italic;
}

.table-striped > tbody > tr:nth-of-type(even) .progress {
    background-color: #f5f5f5;
}

.table-striped > tbody > tr:nth-of-type(odd) .progress {
    background-color: white;
}

.table-result > tbody > tr > td {
    vertical-align: middle;
}

#eventWizard .poll-container table td.response-column,
#eventWizard .poll-container table td.voting-column,
#eventWizard .pollModuleDisplayAllResult,
#eventWizard .wall-comment-list {
    display: none;
}

/*---------------------------------
    Poll Proposal Display
----------------------------------*/

/* TODO : Revoir la présentation des images, c'est pas ouf */
.inline-container {
    white-space: nowrap;
}

.pp-elt {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}

.pp-elt.pp-elt-with-picture {
    width: calc(100% - 56px);
}

.pp-elt-picture {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pp-elt-picture.picture-small {
    width: 50px;
    height: 50px;
}

.pp-elt-picture.picture-large {
    max-height: 200px;
    width: 100%;
    max-width: 300px;
}

.pp-elt-info {
    font-size: 11px;
}

/*---------------------------------
    Poll Proposal Response
----------------------------------*/
/*.pollproposal-response > label.active {
    border: teal 1px solid;
}*/

.pollproposal-response > .response-yes {
    color: #4caf50 !important;
}

.pollproposal-response > .response-yes.active {
    background-color: #4caf50;
    color: white !important;
}

.pollproposal-response > .response-maybe {
    color: #ffc107 !important;
}

.pollproposal-response > .response-maybe.active {
    background-color: #ffc107;
    color: white !important;
}

.pollproposal-response > .response-no {
    color: #ff5722 !important;
}

.pollproposal-response > .response-no.active {
    background-color: #ff5722;
    color: white !important;
}

/*.pollresponse-preloader {
    position: absolute;
    top: 0;
    left: 0;
}*/
.pollresponse-preloader {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.pollproposalamount-response {
    width: 50px;
    display: table;
    margin: 0 auto;
}

/*---------------------------------
    Help popover
---------------------------------*/
/* CUSTOM POPOVERS */
.pop-help-event {
    background-color: #9c27b0;
    border-color: #9c27b0;
    color: white;
}

.pop-help-event > .popover-title {
    background-color: #9c27b0;
    border-color: #9c27b0;
    color: white;
}

.pop-help-event > .popover-content {
    margin: 0px;
    padding: 5px;
    font-size: x-small;
}

.popover.right.pop-help-event > .arrow {
    border-right-color: #9c27b0;
}

.popover.left.pop-help-event > .arrow {
    border-left-color: #9c27b0;
}

.popover.top.pop-help-event > .arrow {
    border-top-color: #9c27b0;
}

.popover.bottom.pop-help-event > .arrow {
    border-bottom-color: #9c27b0;
}

.popover.right.pop-help-event > .arrow:after {
    border-right-color: #9c27b0
}

.popover.left.pop-help-event > .arrow:after {
    border-left-color: #9c27b0;
}

.popover.top.pop-help-event > .arrow:after {
    border-top-color: #9c27b0;
}

.popover.bottom.pop-help-event > .arrow:after {
    border-bottom-color: #9c27b0;
}

/*---------------------------------
    User select
---------------------------------*/

.bootstrap-select{
    max-width: 350px;
}

.bootstrap-select.btn-group .btn .filter-option {
    display: inline-block;
    width: 100%;
    float: left;
    text-align: left;
    overflow: visible;
    height: auto;
}

.bootstrap-select .btn {
    /* Désactivé en attendant de trouver une solution spécifique au cas de l'image (avatar)
    white-space: normal;
    */
}

.insecable-white-space {
    white-space: nowrap;
}

/*---------------------------------
    Profile page
---------------------------------*/

.profile-tab {
    min-height: 500px;
    position: relative;
}

.profile-tab .pm-overview {
    overflow-y: auto;
}

@media (min-width: 1200px) {
    .profile-tab .pm-overview {
        width: 300px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .profile-tab .pm-overview {
        width: 250px;
    }
}

@media (min-width: 768px) {
    .profile-tab .pm-overview {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background: #f8f8f8;
        border-right: 1px solid #eee;
    }
}

@media (max-width: 767px) {
    .profile-tab .pm-overview {
        width: 100%;
        background: #f8f8f8;
        text-align: center;
    }
}

@media (min-width: 1200px) {
    .profile-tab .pm-body {
        padding-left: 300px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .profile-tab .pm-body {
        padding-left: 250px;
    }
}

@media (max-width: 767px) {
    .profile-tab .pm-body {
        padding-left: 0;
    }
}

.profile-tab .pmo-pic {
    position: relative;
    margin: 20px;
}

@media (min-width: 768px) {
    .profile-tab .pmo-pic img {
        width: 100%;
        border-radius: 2px 2px 0 0;
    }
}

@media (max-width: 767px) {
    .profile-tab .pmo-pic img {
        width: 180px;
        display: inline-block;
        height: 180px;
        border-radius: 50%;
        border: 4px solid #fff;
        box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    }
}

.profile-tab .pmo-pic .pmo-stat {
    border-radius: 0 0 2px 2px;
    color: #fff;
    text-align: center;
    padding: 30px 5px 0;
}

@media (min-width: 768px) {
    .profile-tab .pmo-pic .pmo-stat {
        background: #ffc107;
        padding-bottom: 15px;
    }
}

.profile-tab .pmo-pic .pmop-edit {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.38);
    text-align: center;
    padding: 10px 10px 11px;
    -webkit-transition: opacity;
    -o-transition: opacity;
    transition: opacity;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
}

.profile-tab .pmo-pic .pmop-edit:hover {
    background: rgba(0, 0, 0, 0.8);
}

.profile-tab .pmo-pic .pmop-edit i {
    font-size: 18px;
    vertical-align: middle;
    margin-top: -3px;
}

@media (min-width: 768px) {
    .profile-tab .pmo-pic .pmop-edit {
        width: 100%;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .profile-tab .pmo-pic .pmop-edit i {
        margin-right: 4px;
    }
}

.profile-tab .pmo-pic:hover .pmop-edit {
    opacity: 1;
    filter: alpha(opacity=100);
}

.profile-tab .pmo-pic .pmop-message {
    position: absolute;
    bottom: 27px;
    left: 50%;
    margin-left: -25px;
}

.profile-tab .pmo-pic .pmop-message .dropdown-menu {
    padding: 5px 0 55px;
    left: -90px;
    width: 228px;
    height: 150px;
    top: -74px;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}

.profile-tab .pmo-pic .pmop-message .dropdown-menu textarea {
    width: 100%;
    height: 95px;
    border: 0;
    resize: none;
    padding: 10px 19px;
}

.profile-tab .pmo-pic .pmop-message .dropdown-menu button {
    bottom: 5px;
    left: 88px;
}

.pmb-block {
    margin-bottom: 20px;
}

@media (min-width: 1200px) {
    .pmb-block {
        padding: 40px 42px 0;
    }
}

@media (max-width: 1199px) {
    .pmb-block {
        padding: 30px 20px 0;
    }
}

.pmb-block:last-child {
    margin-bottom: 50px;
}

.pmb-block .pmbb-header {
    margin-bottom: 25px;
    position: relative;
}

.pmb-block .pmbb-header .actions {
    position: absolute;
    top: -2px;
    right: 0;
}

.pmb-block .pmbb-header h2 {
    margin: 0;
    font-weight: 100;
    font-size: 20px;
}

.pmb-block .pmbb-edit {
    position: relative;
    z-index: 1;
    display: none;
}

.pmb-block .pmbb-edit,
.pmb-block .pmbb-view {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.pmb-block.toggled .pmbb-edit {
    display: block;
}

.pmb-block.toggled .pmbb-view {
    display: none;
}

.pmb-block .pmbb-body:first-child {
    padding-top: 10px;
}

.profile-tab .pmo-block {
    padding: 25px;
}

.profile-tab .pmo-block > h2 {
    font-size: 16px;
    margin: 0 0 15px;
}

.profile-tab .pmo-items .pmob-body {
    padding: 0 10px;
}

.profile-tab .pmo-items a {
    display: block;
    padding: 4px;
}

.profile-tab .pmo-items a img {
    width: 100%;
}

.z-depth-btn {
    box-shadow: 0 27px 24px rgba(0, 0, 0, 0.2), 0 40px 77px rgba(0, 0, 0, 0.22) !important;
}

/*---------------------------------
    Index : Layout
----------------------------------*/
.index-main {
    padding: 0 !important;
    padding-top: 70px !important;
}

/*---------------------------------
    Index : Carousel
----------------------------------*/
.carousel .item {
    height: 500px;
    background-color: #777;
}

.carousel-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    display: block;;
}

/*---------------------------------
    Index : Explications
----------------------------------*/
@media (min-width: 768px) {
    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .row-eq-height > [class*="col-"] > div {
        height: 100%;
    }
}

/*---------------------------------
    Index : Citations
---------------------------------*/
.quote-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100px;
    width: 100px;
    display: block;;
}

/*---------------------------------
    Annuaire : Autocomplete
---------------------------------*/

.autocomplete-suggestions {
    *border: 1px solid #999;
    background: #FFF;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}
